@import url(common.css);

header{
  width: 100%;
  height: 800px;
  margin: 0 auto;
  text-align: center;
  background:url(../image/edit_1.png) no-repeat;
  background-size: cover;
  position: relative;
  transition: all 0.4s;
}
header:hover{
  background:url(../image/edit_2.png) no-repeat;
}
header .header_in{
  width: 100%;
}
header .header_in .top_menu{
  position: absolute;
  width: 100%;
}
header .header_in .top_menu ul{
  display: inline-block;
  width: 100%;
}
header .header_in .top_menu ul li{
  float: left;
  width: 15%;
  height: 80px;
  line-height: 80px;
  color: #fff;
  font-size: 26px;
  background: rgba(255,255,255,0);
}
header .header_in .top_menu ul li a{
  display: block;
  transition: all 0.3s;
}
header .header_in .top_menu ul li:hover a{
  background: rgba(255,255,255,0.5);
  font-weight: bold;
  text-shadow: 0px 0px 10px #1b1b1b;
}
header .header_in .top_menu ul li img{
  width: 80%;
  height: 100%;
}
header .header_in .top_menu ul li:nth-child(4){
  width: 10%;
}
header .caption{
  text-align: center;
}
header .caption .caption_in{
  padding-top: 150px;
}
header .caption .caption_in h1{
  font-size: 40px;
  color: white;
  text-shadow: 0px 0px 10px #F2A727;
}
header .caption .caption_in h2{
  font-size: 80px;
  color: white;
  margin-top: 100px;
  text-shadow: 0px 0px 30px #eb4441;
}

/* 섹션 스타일 */
section{
  width: 100%;
}

/* 섹션 > keywords 스타일 */
seciton #keywords{
  width: 100%;
}
section #keywords ul li{
  float: left;
  width: 33%;
  height: 100px;
  text-align: left;
}
section #keywords ul li:nth-child(1){
  background: #EB605D;
  transition: all 0.3s;
}
section #keywords ul li:nth-child(1):hover{
  background: #eb4441;
}
section #keywords ul li:nth-child(2){
  width: 34%;
  background: #F2A727;
  transition: all 0.3s;
}
section #keywords ul li:nth-child(2):hover{
  background: #d68a07;
}
section #keywords ul li:nth-child(3){
  background: #7382EB;
  transition: all 0.3s;
}
section #keywords ul li:nth-child(3):hover{
  background: #6373eb;
}
section #keywords ul li a{
  display: inline-block;
  margin-left: 3%;
  margin-top: 1%;
}
section #keywords ul li a span{
  font-size: 80px;
  color: #fff;
  float: left;
  margin-top: 0.5%;
}
section #keywords ul li a .title{
  display: inline-block;
  font-size: 40px;
  color: white;
  font-weight: bold;
  margin-top: 1%;
}
section #keywords ul li a p.text{
  font-size: 16px;
  color: #fff;
  display: inline-block;
}



/* 섹션 > brand_products 스타일 */
section #brand_products{
  width: 100%; 
}

/* 섹션 > brand_products > brand 스타일 */
section #brand_products .brand{
  width: 100%;
  height: 400px;
}
section #brand_products .brand ul{
  width: 100%;
}
section #brand_products .brand ul li{
  height: 400px;
  float: left;
}
section #brand_products .brand ul li:nth-child(1){
  width: 16.5%;
  position: relative;
  overflow: hidden;
}
section #brand_products .brand ul li:nth-child(1) a img{
  width: 100%;
  height: 100%;
  transition: all 0.2s;
}

section #brand_products .brand ul li:nth-child(1) span{
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0px 0px 5px #1b1b1b;
  display: inline-block;
  top: 5%;
  left: 3%;
}
section #brand_products .brand ul li:nth-child(1) p{
  position: absolute;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  text-shadow: 0px 0px 5px #1b1b1b;
  top: 85%;
  left: 3%;
  transition: all 0.3s;
}
section #brand_products .brand ul li:nth-child(1):hover a img{
  transform: scale(1.1);
}
section #brand_products .brand ul li:nth-child(1):hover p{
  left: 6%;
}

section #brand_products .brand ul li:nth-child(2){
  width: 17%;
  position: relative;
  overflow: hidden;
}
section #brand_products .brand ul li:nth-child(2) a img{
  width: 100%;
  height: 100%;
  transition: all 0.2s;
}
section #brand_products .brand ul li:nth-child(2) span{
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0px 0px 5px #1b1b1b;
  display: inline-block;
  top: 5%;
  left: 3%;
}
section #brand_products .brand ul li:nth-child(2) p{
  position: absolute;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  text-shadow: 0px 0px 5px #1b1b1b;
  top: 85%;
  left: 3%;
  transition: all 0.2s;
}
section #brand_products .brand ul li:nth-child(2):hover a img{
  transform: scale(1.1);
}
section #brand_products .brand ul li:nth-child(2):hover p{
  left: 6%;
}

section #brand_products .brand ul li:nth-child(3){
  width: 16.5%;
  position: relative;
  overflow: hidden;
}
section #brand_products .brand ul li:nth-child(3) a img{
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}
section #brand_products .brand ul li:nth-child(3) span{
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0px 0px 5px #1b1b1b;
  display: inline-block;
  top: 5%;
  left: 3%;
}
section #brand_products .brand ul li:nth-child(3) p{
  position: absolute;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  text-shadow: 0px 0px 5px #1b1b1b;
  top: 85%;
  left: 3%;
  transition: all 0.3s;
}
section #brand_products .brand ul li:nth-child(3):hover a img{
  transform: scale(1.1);
}
section #brand_products .brand ul li:nth-child(3):hover p{
  left: 6%;
}

section #brand_products .brand ul li:nth-child(4){
  width: 25%;
  height: 200px;
  background: #acc59d;
  overflow: hidden;
  position: relative;
  background:url(../image/product_1.jpg) no-repeat;
  background-position-y: 60%;
}
section #brand_products .brand ul li:nth-child(4) a span{
  position: absolute;
  font-size: 36px;
  font-weight: bold;
  top: 63%;
  left: 1%;
  color: white;
  opacity: 0;
  transition: all 0.3s;
}
section #brand_products .brand ul li:nth-child(4) a p{
  position: absolute;
  font-size: 26px;
  top: 83%;
  right: 1%;
  color: white;
  opacity: 0;
  transition: all 0.3s;
}
section #brand_products .brand ul li:nth-child(4) .black_box{
  position: absolute;
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,0);
  transition: all 0.3s;
}
section #brand_products .brand ul li:nth-child(4):hover .black_box{
  background:rgba(0,0,0,0.3);
}
section #brand_products .brand ul li:nth-child(4):hover a p{
  opacity: 1;
}
section #brand_products .brand ul li:nth-child(4):hover a span{
  opacity: 1;
}

section #brand_products .brand ul li:nth-child(5){
  position: relative;
  width: 25%;
  height: 200px;
  background: url(../image/product_2.jpg) no-repeat;
  background-size: 100%;
}
section #brand_products .brand ul li:nth-child(5) p{
  position: absolute;
  font-size: 26px;
  color: #ffffff;
  font-weight: bold;
  left: 2%;
  top: 2%;
  text-shadow: 0px 0px 10px #1b1b1b;
}
section #brand_products .brand ul li:nth-child(5) span{
  position: absolute;
  font-size: 36px;
  font-weight: bold;
  color: white;
  top: 20%;
  left: 2%;
  text-shadow: 0px 0px 10px #1b1b1b;
}
section #brand_products .brand ul li:nth-child(5) .red_box{
  position: absolute;
  width: 50%;
  height: 100%;
  border-radius: 10% 10% 0 0;
  background: rgba(253,82,82,0.5);
  right: -100%;
  transition: all 0.3s;
  cursor: pointer;
}
section #brand_products .brand ul li:nth-child(5) .red_box img{
  position: absolute;
  width: 60%;
  height: 80%;
  right: 18%;
  top: 10%;
}
section #brand_products .brand ul li:nth-child(5):hover .red_box{
  width: 50%;
  right: 0%;
}

section #brand_products .brand ul li:nth-child(6){
  width: 25%;
  height: 200px;
  background: url(../image/product_3.jpg) no-repeat;
  background-size: 113%;
  position: relative;
  overflow: hidden; 
}
section #brand_products .brand ul li:nth-child(6) span{
  position: absolute;
  font-size: 36px;
  font-weight: bold;
  color: white;
  top: 10%;
  left: 2%;
  text-shadow: 0px 0px 10px #1b1b1b;
}
section #brand_products .brand ul li:nth-child(6) p{
  position: absolute;
  font-size: 26px;
  color: #ffffff;
  font-weight: bold;
  right: 2%;
  top: 60%;
  text-shadow: 0px 0px 10px #1b1b1b;
  text-align: right;
}
section #brand_products .brand ul li:nth-child(6) .white_box{
  position: absolute;
  width: 50%;
  height: 100%;
  border-radius: 10% 0 0 10%;
  background: rgba(255,255,255,0.5);
  right: -100%;
  transition: all 0.3s;
  cursor: pointer;
}
section #brand_products .brand ul li:nth-child(6) .white_box img{
  position: absolute;
  width: 120%;
  height: 90%;
  right: -11%;
  top: 7%;
}
section #brand_products .brand ul li:nth-child(6):hover .white_box{
  width: 50%;
  right: 0%;
}

section #brand_products .brand ul li:nth-child(7){
  position: relative;
  width: 25%;
  height: 200px;
  background: url(../image/product_4.jpg) no-repeat;
  background-position-x: 40%;
  background-position-y: 65%;
}
section #brand_products .brand ul li:nth-child(7) span{
  position: absolute;
  font-size: 36px;
  font-weight: bold;
  color: white;
  top: 10%;
  left: 2%;
  text-shadow: 0px 0px 10px #1b1b1b;
}
section #brand_products .brand ul li:nth-child(7) p{
  position: absolute;
  font-size: 26px;
  color: #ffffff;
  font-weight: bold;
  left: 2%;
  top: 60%;
  text-shadow: 0px 0px 10px #1b1b1b;
}
section #brand_products .brand ul li:nth-child(7) .white_box{
  position: absolute;
  width: 50%;
  height: 100%;
  border-radius: 10% 0 0 10%;
  background: rgba(255,255,255,0.5);
  right: -100%;
  transition: all 0.3s;
  cursor: pointer;
}
section #brand_products .brand ul li:nth-child(7) .white_box img{
  position: absolute;
  width: 70%;
  height: 70%;
  right: 13%;
  top: 15%;
}
section #brand_products .brand ul li:nth-child(7):hover .white_box{
  width: 50%;
  right: 0%;
}

/* 섹션 > #sns 스타일 */
section #sns{
  width: 100%;
}
section #sns ul{
  width: 100%;
}
section #sns ul li{
  float: left;
  width: 15%;
  height: 250px;
}
section #sns ul li:nth-child(1){
  width: 40%;
  background: url(../image/sns_0.jpg) no-repeat;
  background-size: cover;
  background-position-y: 50%;
  position: relative;
  overflow: hidden;
}
section #sns ul li:nth-child(1) span{
  position: absolute;
  font-size: 60px;
  font-weight: bold;
  color: white;
  right: -50%;
  top: 10%;
  text-shadow: 3px 3px 5px #1b1b1b;
  transition: all 0.3s;
}
section #sns ul li:nth-child(1) p{
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-align: right;
  right:150%;
  top: 60%;
  text-shadow: 3px 3px 5px #1b1b1b;
  transition: all 0.3s;
}
section #sns ul li:nth-child(1):hover span{
  right: 5%;
  top: 10%;
}
section #sns ul li:nth-child(1):hover p{
  right: 5%;
  top: 60%;
}

section #sns ul li:nth-child(2){
  position: relative;
  width: 15%;
  background: url(../image/sns_11.jpg) no-repeat;
  background-size: cover; 
}
section #sns ul li:nth-child(2) .box1{
  position: absolute;
  width: 100%;
  height: 100%;
  background:rgba(255,255,255,0.4);
  opacity: 0;
  transition: all 0.3s;
}
section #sns ul li:nth-child(2) .box1 span{
  position: absolute;
  color: #1b1b1b;
  top: 75%;
  left: 10%;
  font-size: 24px;
  font-weight: bold;
}
section #sns ul li:nth-child(2):hover .box1{
  opacity: 1;
}
section #sns ul li:nth-child(2) img{
  position: absolute;
  width: 60%;
  height: 60%;
  top: 10%;
  left: 20%;
}
section #sns ul li:nth-child(3){
  width: 15%;
  background: url(../image/sns_22.jpg) no-repeat;
  background-size: cover;
  position: relative;
}
section #sns ul li:nth-child(3) img{
  width: 65%;
  height: 65%;
  position: absolute;
  top: 5%;
  left: 16%;
}
section #sns ul li:nth-child(3) .box2{
  position: absolute;
  width: 100%;
  height: 100%;
  background:rgba(235,96,93,0.8);
  opacity: 0;
  transition: all 0.3s;
}
section #sns ul li:nth-child(3) .box2 span{
  position: absolute;
  color: #fff;
  top: 75%;
  left: 14%;
  font-size: 24px;
  font-weight: bold;
}
section #sns ul li:nth-child(3):hover .box2{
  opacity: 1;
}

section #sns ul li:nth-child(4){
  position: relative;
  width: 15%;
  background: url(../image/sns_33.jpg) no-repeat;
  background-size: 101%;
}
section #sns ul li:nth-child(4) img{
  width: 60%;
  height: 60%;
  position: absolute;
  left: 20%;
  top: 10%;
}
section #sns ul li:nth-child(4) .box3{
  position: absolute;
  width: 100%;
  height: 100%;
  background:rgba(99, 96, 243, 0.8);
  opacity: 0;
  transition: all 0.3s;
}
section #sns ul li:nth-child(4) .box3 span{
  position: absolute;
  color: #fff;
  top: 75%;
  left: 18%;
  font-size: 24px;
  font-weight: bold;
}
section #sns ul li:nth-child(4):hover .box3{
  opacity: 1;
}

section #sns ul li:nth-child(5){
  width: 15%;
  background:url(../image/sns_44.jpg) no-repeat;
  background-size: 110%;
  background-position-y: 10%;
  background-position-x: 40%;
  position: relative;
}
section #sns ul li:nth-child(5) img{
  width: 45%;
  height: 45%;
  position: absolute;
  top: 15%;
  left: 28%;
}
section #sns ul li:nth-child(5) .box4{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 58, 107, 0.5);
  opacity: 0;
  transition: all 0.3s;
}
section #sns ul li:nth-child(5) .box4 span{
  position: absolute;
  color: #fff;
  top: 75%;
  left: 26%;
  font-size: 24px;
  font-weight: bold;
}
section #sns ul li:nth-child(5):hover .box4{
  opacity: 1;
}



footer{
  width: 100%;
}
footer .footer_in{
  width: 100%;
  height: 400px;
}
footer .footer_in .footer_menu{
  width: 100%;
  float: left;
}
footer .footer_in .footer_menu ul{
  width: 100%;
  float: left;
  text-align: center;
}
footer .footer_in .footer_menu ul li{
  float: left;
  width: 20%;
  height: 60px;
  line-height: 60px;
  font-size: 18px;
  background: #303030;
  color: white;
  transition: all 0.3s;
}
footer .footer_in .footer_menu ul li a{
  display: block;
}
footer .footer_in .footer_menu ul li:hover{
  background: #424242;
}
footer .footer_in .footer_menu ul li:nth-child(1){
  color: red;
}
footer .footer_in .footer_p{
  float: left;
  width: 100%;
  font-size: 16px;
  text-align: center;
  line-height: 50px;
  background: #303030;
  color: gray;
}
footer .footer_in .footer_p .copyright{
  font-size: 17px;
  color: white;
}